{% extends "easy_pdf/base.html" %}
{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        div {
        	color: blue;
        	float: left;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <h1>Hi there!</h1>
    </div>
    <table border="1" cellpadding="12" class="table table-bordered">
    	<tr>
            <td align="left" valign="center" colspan="3">
                <h4>HEader</h4>
            </td>
            <td align="left" valign="center" colspan="6">
                <h4>HEader</h4>
            </td>
            <td align="left" valign="center" colspan="3">
                <h4>HEader</h4>
            </td>
        </tr>
    </table>

    <br>
    
    <table border="1" cellpadding="12" class="table table-bordered">
        <tr>
            <td align="left" valign="center" colspan="5"> 1 - NOME DO ÓRGÃO OU ENTIDADE CONVENENTE </td>
            <td align="left" valign="center" colspan="1"> 2 – UF </td>
            <td align="left" valign="center" colspan="3"> 3 - Nº DO CONVÊNIO / ANO </td>
            <td align="left" valign="center" colspan="3"> 4 - TIPO DE PRESTAÇÃO DE CONTAS </td>
        </tr>
    </table>
{% endblock %}